@using Portality.Common.Performance
@{
    ViewBag.Title = "MonitorDuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MonitorDuration with Name</h2>
<p>
    The time elapsed is: <br/>
    @ViewBag.TimeElapsed (as set with a custom 'Name', through the controller)
    
</p>
