@using Portality.Common.Performance
@{
    ViewBag.Title = "MonitorDuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MonitorDuration</h2>
<p>
    The time elapsed is: <br/>
    @ViewBag.TimeElapsed 
    
</p>
